# Bu dosyayi ".env" olarak kopyala ve kendi anahtar-ını yaz.
# .env dosyası ASLA git'e / paylaşıma girmez

GEMINI_API_KEY=your_api_key_here

#GOOGLE_API_KEY= AQ.Ab8RN6Kktr0K1uu2WLPEJ4Ni7pyP_j9CbIoYbnrB7gsr5rY82g